In [22]:
from decimal import Decimal
from fractions import Fraction
from statistics import mean

In [23]:
sum([1, 2, 3, 4, 5])

15

In [24]:
sum(range(1, 6))

15

In [25]:
sum([1, 2, 3, 4, 5], start=100)

115

# Sum Floating-point Numbers

In [26]:
a = sum([10.2, 12.5, 11.8])
b = sum([10.2, 12.5, 11.8, float("inf")])
c = sum([10.2, 12.5, 11.8, float("nan")])
a, b, c

(34.5, inf, nan)

# Sum Complex Numbers

In [27]:
sum([3 + 2j, 5 + 6j])

(8+8j)

# Sum Decimal Numbers

In [28]:
sum([Decimal("10.2"), Decimal("12.5"), Decimal("11.8")])

Decimal('34.5')

# Sum Fraction Numbers

In [29]:
sum([Fraction(51, 5), Fraction(25, 2), Fraction(59, 5)])

Fraction(69, 2)

# Concatenating Sequences

In [30]:
num_lists = [[1, 2, 3], [4, 5, 6]]
sum(num_lists, start=[])

[1, 2, 3, 4, 5, 6]

In [31]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [32]:
num_tuples = ((1, 2, 3), (4, 5, 6))
sum(num_tuples, start=())

(1, 2, 3, 4, 5, 6)

In [33]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

# Computing Sales Example

In [34]:
cumulative_sales = 0
monday = [50, 27, 42]
cumulative_sales = sum(monday, start=cumulative_sales)
cumulative_sales

119

In [35]:
tuesday = [12, 32, 15]
cumulative_sales = sum(tuesday, start=cumulative_sales)
cumulative_sales

178

In [36]:
wednesday = [20, 24, 42]
cumulative_sales = sum(wednesday, start=cumulative_sales)
cumulative_sales

264

# Calculating Mean

In [37]:
data_points = [2, 3, 4, 2, 3, 6, 4, 2]
sum(data_points) / len(data_points)

3.25

In [38]:
mean(data_points)

3.25

# Dot Product of Multiple Sequences

In [39]:
x_vector = (1, 2, 3)
y_vector = (4, 5, 6)

sum(x * y for x, y in zip(x_vector, y_vector))

32

# Flattening a Matrix

In [40]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]

sum(matrix, [])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Flattening using Comprehension

In [41]:
def flatten_list(a_list):
    return [item for sublist in a_list for item in sublist]

flatten_list(matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Summing Floating-Point Numbers with Math.FSum()

In [43]:
from math import fsum

x = sum([.1, .1, .1, .1, .1, .1, .1, .1, .1, .1])
y = fsum([.1, .1, .1, .1, .1, .1, .1, .1, .1, .1])
x, y

(0.9999999999999999, 1.0)

# Concatenating Iterables With itertools.chain()

In [44]:
from itertools import chain

In [45]:
numbers = chain([1, 2, 3], [4, 5, 6], [7, 8, 9])
numbers

In [46]:
next(numbers)

1

In [47]:
next(numbers)

2

In [48]:
list(chain([1, 2, 3], [4, 5, 6], [7, 8, 9]))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Concatenating Strings With str.join()

In [49]:
greeting = ["Hello,", "welcome to", "Python!"]
" ".join(greeting)

'Hello, welcome to Python!'